{% extends 'layout.html' %}
{% block content %} 
{% if form.errors %}
  <h1>{{ form.non_field_errors }}</h1>
{% endif %}
<form method="POST" class="post-form" action="/update/{{clientid}}">  
        {% csrf_token %}  
    <div class="container">    
      <div class="form-group row">  
        <label class="col-sm-1 col-form-label"></label>  
        <div class="col-sm-11">  
        <h3>Update Client</h3>  
        </div>  
      </div>  
      <div class="form-group row">  
        <label class="col-sm-2 col-form-label">Client Name:</label>  
        <div class="col-sm-10">  
          {{ form.cusername }}
        </div>  
      </div>  
      <div class="form-group row">  
        <label class="col-sm-2 col-form-label">Contact Name:</label>  
        <div class="col-sm-10">  
          {{ form.cname }}  
        </div>  
      </div>    
      <div class="form-group row">  
        <label class="col-sm-2 col-form-label">Email:</label>  
        <div class="col-sm-10">  
          {{ form.cemail }}  
        </div>  
      </div>
      <div class="form-group row">  
        <label class="col-sm-2 col-form-label">Phone:</label>  
        <div class="col-sm-10">  
          {{ form.cphone }}  
        </div>  
      </div> 
      <div class="form-group row">  
        <label class="col-sm-2 col-form-label">Street:</label>  
        <div class="col-sm-10">  
          {{ form.cstreet }}  
        </div>  
      </div> 
      <div class="form-group row">  
        <label class="col-sm-2 col-form-label">Suburb:</label>  
        <div class="col-sm-10">  
          {{ form.csuburb }}  
        </div>  
      </div> 
      <div class="form-group row">  
        <label class="col-sm-2 col-form-label">State:</label>  
        <div class="col-sm-10">  
          {{ form.cstate }}  
        </div>  
      </div> 
      <div class="form-group row">  
        <label class="col-sm-2 col-form-label">Postcode:</label>  
        <div class="col-sm-10">  
          {{ form.cpostcode }}  
        </div>  
      </div> 
      <div class="form-group row">  
        <div class="col-sm-6">  </div>
        <div class="col-sm-6">  
        <button type="submit" class="btn btn-primary">Submit</button>  
         <a href="/clients" class="btn btn-primary">Cancel</a>  
        </div>  
        
      </div>     
     
    </div>  
</form>  
{% endblock %}